@model Bokking.Models.ReservationService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReservationService</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceSent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceSent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Card)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Card.Cardid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
