@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section class="site-hero overlay" style="background-image: url('@Url.Content("~/Home/images/hero_4.jpg")')" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
            <div class="col-md-10 text-center" data-aos="fade-up">
                <h1 class="heading">Find</h1>
                <h1 class="heading">A Best Place To Stay</h1>
            </div>
        </div>
    </div>

    <a class="mouse smoothscroll" href="#next">
        <div class="mouse-icon">
            <span class="mouse-wheel"></span>
        </div>
    </a>
</section>
<!-- END section -->



<section class="py-5 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5" data-aos="fade-up">
                <figure class="img-absolute">
                    <img src="~/Home/images/food-1.jpg" alt="Image" class="img-fluid">
                </figure>
                <img src="~/Home/images/img_1.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div class="col-md-12 col-lg-4 order-lg-1" data-aos="fade-up">
                <h2 class="heading">Welcome!</h2>
                <p class="mb-4">your trusted partner in finding the perfect place to stay, no matter where your travels take you. Our mission is to make hotel booking simple, convenient, and stress-free, offering you a seamless experience from start to finish.</p>
            </div>

        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-7">
                <h2 class="heading" data-aos="fade-up">Hotels &amp; Suites</h2>
                <p data-aos="fade-up" data-aos-delay="100">your trusted partner in finding the perfect place to stay, no matter where your travels take you. Our mission is to make hotel booking simple, convenient, and stress-free, offering you a seamless experience from start to finish..</p>
            </div>
        </div>
        <div class="row">
           <table class="table">
               <thead>
                   <tr>
                       <th class="text-uppercase letter-spacing-1">Hotel Name</th>
                        <th class="text-uppercase letter-spacing-1"> Country </th>
                        <th class="text-uppercase letter-spacing-1"> City</th>
                        <th class="text-uppercase letter-spacing-1"> Phone</th>
                        <th class="text-uppercase letter-spacing-1"> Email</th>
                        <th class="text-uppercase letter-spacing-1" >Hotel photo</th>
                        <th class="text-uppercase letter-spacing-1">Suites </th>
                   </tr>
               </thead>
               <tbody>
                    @foreach (var item in ViewBag.Hotels)
                    {
                        <tr>
                            <td>@item.Hotelname</td>
                            <td>@item.Country</td>
                            <td>@item.City</td>
                            <td>@item.Phone</td>
                            <td>@item.Email</td>
                            <td><img src=@Url.Content("~/Image/"+item.Imagepath) asp-append-version="true" style="border-radius:20%" width="250" height="150" /></td>
                            <td><a asp-controller="Home" asp-action="GetRooms" asp-route-id="@item.Id" class="btn-3">Detials</a></td>
                        </tr>
                    }
                </tbody>


           </table>
        </div>
    </div>
</section>


<section class="section slider-section bg-light">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-7">
                <h2 class="heading" data-aos="fade-up">Photos</h2>
                <p data-aos="fade-up" data-aos-delay="100">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="home-slider major-caousel owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
                    @foreach (var item in ViewBag.Rooms)
                    {

                        <div class="slider-item">
                            <a href="~/Home/images/slider-1.jpg" data-fancybox="images" data-caption="Caption for this image"><img src=@Url.Content("~/Image/"+item.Imagepath) asp-append-version="true" alt="Image placeholder" class="img-fluid"></a>
                        </div>

                    }

                    
                </div>
                <!-- END slider -->
            </div>

        </div>
    </div>
</section>
<!-- END section -->

<!-- END section -->
<section class="section testimonial-section">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-7">
                <h2 class="heading" data-aos="fade-up">People Says</h2>
            </div>
        </div>
        <div class="row">
            <div class="js-carousel-2 owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
                @if (ViewBag.testAprove != null)
                {
                    @foreach (var item in ViewBag.testAprove)
                    {
                        <div class="testimonial text-center slider-item">
                            <blockquote>
                                <p>@item.Message</p>
                            </blockquote>
                            <p><em>@item.Hotelid</em></p>
                        </div>

                    }

                }
                
                
                
                @if (ViewBag.FeedAprove !=null)
                {
                    @foreach (var item in ViewBag.FeedAprove)
                    {
                        <div class="testimonial text-center slider-item">
                            <blockquote>
                                <p>@item.Guestmessage</p>
                            </blockquote>
                            <p><em>@item.Guestname</em></p>
                        </div>

                    }

                }
               
              
            </div>
            <!-- END slider -->
        </div>

    </div>
</section>


<section class="section blog-post-entry bg-light">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-7">
                <h2 class="heading" data-aos="fade-up">Events</h2>
                <p data-aos="fade-up">Hotels are the perfect venue for a wide range of events, offering tailored spaces and professional services to ensure every occasion is memorable. Whether it's a grand wedding, a corporate conference, a social gathering, or a cultural celebration, hotels provide the ideal setting with versatile event spaces, exquisite catering, and top-notch hospitality. From intimate gatherings to large-scale conventions, hotels are equipped to handle every detail, making your event seamless and unforgettable.</p>
            </div>
        </div>
     </div>
</section>
<section class="section testimonial-section">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
        </div>
        <div class="row">
            <div class="js-carousel-2 owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
                @foreach (var item in  ViewBag.Events)
                {
                    <div class="testimonial text-center slider-item">
                        <div class=" mb-3">
                            <img src="~/Image/beautiful wedding.jpg" />
                        </div>
                        <blockquote>
                            <p>@item.Description</p>
                        </blockquote>
                        <a asp-controller="Reservations" asp-action="Reserve2" asp-route-id="@item.Id" ><p><em>@item.Nameservice</em></p></a>
                        <p><em>@item.Price</em></p>
                    </div>
                }
            </div>
            <!-- END slider -->
        </div>

    </div>
</section>

<section class="section bg-image overlay" style="background-image:url('@Url.Content("~/Home/images/hero_4.jpg")')">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 text-center mb-4 mb-md-0 text-md-left" data-aos="fade-up">
                <h2 class="text-white font-weight-bold">A Best Place To Stay. Reserve Now!</h2>
            </div>
            <div class="col-12 col-md-6 text-center text-md-right" data-aos="fade-up" data-aos-delay="200">
                <a asp-controller="Reservations" asp-action="Reserve" class="btn btn-outline-white-primary py-3 text-white px-5">Reserve Now</a>
            </div>
        </div>
    </div>
</section>

